
@keyframes show {
    0%{
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
    60%{
        -webkit-transform: rotateX(-16deg);
        -moz-transform: rotateX(-16deg);
        -ms-transform: rotateX(-16deg);
        -o-transform: rotateX(-16deg);
        transform: rotateX(-16deg);
        opacity: 1;
    }
    70%{
        -webkit-transform: rotateX(14deg);
        -moz-transform: rotateX(14deg);
        -ms-transform: rotateX(14deg);
        -o-transform: rotateX(14deg);
        transform: rotateX(14deg);
    }
    78%{
        -webkit-transform: rotateX(-12deg);
        -moz-transform: rotateX(-12deg);
        -ms-transform: rotateX(-12deg);
        -o-transform: rotateX(-12deg);
        transform: rotateX(-12deg);
    }
    85%{
        -webkit-transform: rotateX(9deg);
        -moz-transform: rotateX(9deg);
        -ms-transform: rotateX(9deg);
        -o-transform: rotateX(9deg);
        transform: rotateX(9deg);
    }
    93%{
        -webkit-transform: rotateX(-5deg);
        -moz-transform: rotateX(-5deg);
        -ms-transform: rotateX(-5deg);
        -o-transform: rotateX(-5deg);
        transform: rotateX(-5deg);
    }
    93%{
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}
@keyframes hide {
    0%{
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
    100%{
        -webkit-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -ms-transform: rotateX(-180deg);
        -o-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        opacity: 0;
    }
}
#warp{
    height: 240px;
    width: 400px;
    margin: 100px auto;
    position: relative;
}
#img{
    height: 240px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}
#img img{
    width: 400px;
    height: 240px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
}
#img .show{
    -webkit-animation: show 1s ease-in;
    -o-animation: show 1s ease-in;
    animation: show 1s ease;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}
#img .hide{
    -webkit-animation: hide 1s ease;
    -o-animation: hide 1s ease;
    animation: hide 0.5s ease;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
}
#warp a{
    position: absolute;
    height: 50px;
    width: 50px;
    background: #ffb21d;
    color: #ffffff;
    font: 600 30px/60px "Adobe Arabic";
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: -60px;
}
#warp a:hover{
    background: #fcac1b;
}
#warp a:nth-of-type(1){
    left: 140px;
}
#warp a:nth-of-type(2){
    right: 140px;
}